<mjml>
  <mj-head>
    <!-- invisible text, but is parsed for preview (second line on gmail)-->
    <mj-preview>Hi, {{userName}}! your password reset request.</mj-preview>
  </mj-head>
  <mj-body background-color="#202020">
    <mj-section>
      <mj-column>
        <mj-text color="white">
          <h2>Hi {{userName}},</h2>
        </mj-text>
        <mj-text color="white">To change your password click the button below:</mj-text>
      </mj-column>
    </mj-section>

    <mj-section>
      <mj-column>
        <mj-button font-family="Helvetica" background-color="#41b883" color="white" href="{{link}}">Change password</mj-button>

      </mj-column>
    </mj-section>

    <mj-section>
      <mj-column>
        <mj-text color="white">If the above button doesn't work, click on the link below instead:</mj-text>
        <mj-text align="center">
          <a style="color: #15c;" href="{{link}}">{{link}}</a>
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
